<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}| Login{% endblock %}

{% block content %}

<!-- <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form> -->

<div class="center-block text-center sign-in-body vertical-center">
  <form class="form-signin" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% if form.errors %}
    <p>{{form.errors}}.</p>
    {% endif %}
    <!-- {{ form.as_p }} -->
    <label for="inputEmail" class="sr-only">Username</label>
    <!-- {{ form.username }}
    <input type="text" name="username" autofocus="" required="" id="id_username"> -->
    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <!-- {{ form.password }}
    <input type="password" name="password" required="" id="id_password"> -->
    <input type="password" name="password"id="id_password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
{% endblock %}